@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
}


/* Navbar */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background: #4c7dfe;
    /* background: linear-gradient(172deg, rgba(63, 53, 243, 1) 0%, rgba(76, 125, 254, 1) 39%, rgba(0, 212, 255, 1) 100%); */
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

nav {
    position: relative;
    left: 15px;
}

nav a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 10px 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

nav a:hover {
    font-weight: b700;
    color: #4c7dfe;
    background-color: white;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}


/* Button */

.button {
    display: inline-block;
    width: 130px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #4c7dfe;
    border-radius: 8px;
    color: white;
    background-color: #4c7dfe;
    font-weight: 500;
    font-size: 14px;
    margin-right: 25px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: white;
    color: #4c7dfe;
}

.button-container {
    margin-top: 25px;
}


/* Container Text Style */

article h2 {
    color: #4c7dfe;
    font-size: 20px;
    margin-bottom: 5px;
    letter-spacing: 0.7px;
}

.subtitle {
    font-weight: 700;
    font-size: 33px;
}

article p {
    font-size: 15px;
    margin-top: 10px;
}


/* Container Home's Hero */

.card {
    padding: 50px 10%;
    min-width: 768px;
    min-height: 600px;
}

.home-container {
    display: flex;
    align-items: center;
}

.home-item {
    flex-basis: 50%;
}

.home-item.img {
    display: flex;
    justify-content: flex-end;
}

#home img {
    max-width: 75%;
}

#home span {
    font-size: 40px;
}


/* Container Featured */

.featured {
    display: flex;
    justify-content: space-evenly;
    background: #4c7dfe;
    /* background: linear-gradient(172deg, rgba(63, 53, 243, 1) 0%, rgba(76, 125, 254, 1) 39%, rgba(0, 212, 255, 1) 100%); */
    padding: 40px 0;
    color: white;
}

.subfeatured {
    text-align: center;
    width: 100px;
}

.subfeatured h1 {
    font-size: 40px;
}

.subfeatured p {
    margin: 5px 0;
}


/* Container About Me */

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-item {
    flex-basis: 50%;
}

#about-me img {
    max-width: 75%;
}


/* Container Project */

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    flex-basis: 50%;
    margin-bottom: 4%;
}

#project img {
    max-width: 48%;
    transition: all 0.3s ease 0s;
}

#project img:hover {
    transform: scale(1.05);
}


/* Aside Container */

aside header {
    color: white;
    background-color: #4c7dfe;
    padding: 60px 10%;
}

aside header h2 {
    margin-right: auto;
    font-weight: 500;
}

aside .button {
    border: 1px solid white;
    margin: 0;
    margin-left: 25px;
}

aside a:last-child {
    width: 170px;
}


/* Contact Container */

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    min-height: 190px;
    margin-bottom: 40px;
}

.contact-item.content {
    flex-basis: 75%;
}

.contact-item img {
    margin-left: 15px;
    width: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact-item img:hover {
    transform: scale(1.2);
    opacity: 0.75;
}

.contact-item p {
    font-size: 15px;
}

#contact a {
    text-decoration: none;
    color: #4c7dfe;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

#contact a:hover {
    letter-spacing: 1px;
}


/* Identity Container */

.identity-container {
    color: #4c7dfe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 50px;
    margin-bottom: 50px;
}

.identity-container img {
    width: 150px;
    margin: 0 20px;
    border-radius: 50%;
}

.identity-container ul li {
    letter-spacing: 1px;
    list-style: none;
}

.identity-container ul li:first-child {
    font-weight: bold;
}


/* Footer */

footer {
    background-color: #4c7dfe;
    /* background: linear-gradient(172deg, rgba(63, 53, 243, 1) 0%, rgba(76, 125, 254, 1) 39%, rgba(0, 212, 255, 1) 100%); */
    padding-bottom: 20px;
    padding-top: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.container ul {
    list-style: none;
}

.container ul li {
    margin-bottom: 15px;
    color: white;
    font-size: 15px;
}

.container ul li a {
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.container ul li a:hover {
    font-weight: 500;
    color: #4c7dfe;
    background-color: white;
    border-radius: 10px;
}

footer p {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: whitesmoke;
}

.container ul:nth-child(2) li {
    display: flex;
    align-items: center;
}

.container ul li img {
    margin-right: 10px;
    width: 20px;
}

.container h2 {
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
}

footer div ul h2 {
    margin-bottom: 10px;
    display: none;
}



/* Responsive Breakpoint */

@media screen and (max-width: 800px) {

    /* Navbar */
    header {
        padding: 30px 7%;
    }

    /* Card */
    .card {
        padding: 50px 7%
    }

    /* Aside */
    aside header {
        padding: 60px 7%;
    }

    /* Footer */
    .container {
        padding: 0 7%;
    }
}

/* ukuran tablet */
@media screen and (max-width: 768px) {

    /* Navbar */
    nav li {
        margin-left: 5px;
    }

    /* Button */
    .button {
        margin: 0 15px;
    }

    /* Home Container */

    .card {
        min-width: 0px;
    }

    .home-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .home-item.img {
        max-width: 75%;
        justify-content: center;
        margin-bottom: 20px;
    }

    #home {
        text-align: center;
    }

    #home span.subtitle {
        font-size: 32px;
    }

    /* About Container */
    .about-item.img {
        display: flex;
        justify-content: center;
    }

    #about-me span.subtitle {
        font-size: 30px;
    }

    #about-me a.button {
        margin-left: 0;
        margin-bottom: 10px;
    }


    /* Project Container */
    .project-item {
        flex-basis: 100%;
    }

    #project br {
        display: none;
    }

    /* Footer */
    footer div h2 {
        display: none;
    }

    footer div ul h2 {
        display: flex;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {

    /* Navbar */
    nav {
        display: none;
    }

    /* About Container */
    .about-container {
        flex-direction: column;
    }

    .about-item.content {
        text-align: center;
    }

    #about-me img {
        max-width: 75%;
        margin-bottom: 20px;
    }

    #about-me a.button {
        margin: 0 15px;
    }

    /* Project Container */
    .project-container {
        justify-content: center;
    }

    .project-item.content {
        text-align: center;
    }

    #project img {
        max-width: 75%;
        margin-bottom: 20px;
    }

    #project span.subtitle br {
        display: inline;
    }

    /* Aside Container */
    aside header {
        flex-direction: column;
        padding: 40px 7%;
        align-items: center;
    }

    aside header h2 {
        margin: 0;
        margin-bottom: 20px;
    }

    aside header a.button {
        margin: 0 0 15px 0;
    }

    /* Contact Container */
    .contact-container {
        justify-content: center;
    }

    .contact-item {
        text-align: center;
    }

    .contact-item img {
        margin: 20px 10px 0 10px;
    }

    /* Identity Container */
    .identity-container {
        flex-direction: column;
    }

    .identity-container ul {
        margin-top: 20px;
    }

    .identity-container ul li {
        text-align: center;
    }

    /* Footer */
    footer .container {
        flex-direction: column;
    }

    .container {
        text-align: center;
    }

    .container ul h2,
    li {
        justify-content: center;
    }
}