@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  font-family: Inter, sans-serif;
  color: var(--accent-color);
}

/* Custom variables */
:root {
  --transition-value: all 0.3s ease;
  --accent-color: #364359;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h3 {
  font-size: 20px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

body {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.header-shadow {
  box-shadow: 0 -5px 20px 0 hsla(0, 0%, 0%, 0.2);
}

.outer-container:nth-child(even) {
  background-color: #fafbfd;
}

.navbar-show {
  right: 0;
}

.navlinks li {
  display: block;
}

.navlinks li a {
  opacity: 0.8;
  display: inline-block;
  transition: var(--transition-value);
}

.navlinks li a:hover {
  opacity: 1;
  color: #000;
}

.hamburger-close {
  color: var(--accent-color);
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 2.5px;
  background-color: var(--accent-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 640px;
}

.project-title {
  font-weight: 700;
}

.project-item {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 15px 0 hsla(218, 25%, 28%, 0.1);
  margin-bottom: 1.5rem;
  transition: var(--transition-value);
}

.project-item:hover {
  box-shadow: 0 2px 10px 0 hsla(218, 25%, 28%, 0.2);
  transform: scale(1.05);
}

.project-description {
  padding-bottom: 1rem;
}

.project-link {
  padding-top: 1rem;
  display: flex;
  column-gap: 0.8rem;
  padding-bottom: 1rem;
  opacity: 0.6;
  transition: var(--transition-value);
}

.project-link:hover {
  opacity: 1;
}

.contact-icon {
  display: block;
  width: 35px;
}

.contact-icon-anchor {
  display: block;
  opacity: 0.8;
  width: 100%;
  transition: var(--transition-value);
}

.contact-icon-anchor:hover {
  opacity: 1;
}

.identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  min-height: 640px;
}

.footer {
  font-size: x-small;
  opacity: 0.8;
  text-align: center;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

@media screen and (min-width: 375px) {
  .footer {
    font-size: smaller;
  }
}
@media screen and (min-width: 640px) {
  .hamburger-wrapper {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .project-item {
    margin-bottom: 0;
    flex-basis: calc(96% / 2);
  }
}

@media screen and (min-width: 1024px) {
  .project-item {
    flex-basis: calc(95% / 3);
  }
}

@media screen and (orientation: landscape) and (min-height: 640px) {
  .hero {
    min-height: 100vh;
  }
  .identity {
    min-height: 100vh;
  }
}

@media screen and (orientation: portrait) {
  .hero {
    min-height: 100vh;
  }
  .identity {
    min-height: 100vh;
  }
}
