/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {


    /* Home Container */

    .home-container {
        /* display: block; */
        flex-direction: column-reverse;
        justify-content: center
    }

    .home-container h1 {
        font-size: 18px;
    }

    .home-container .subtitle {
        font-size: 35px;
        letter-spacing: 0.2px;
    }

    .home-container .hi-emoji {
        font-size: 25px;
    }

    .home-container p {
        font-size: 16px;
    }


    .home-item img {
        justify-content: center;
    }



}

/* ukuran mobile */
@media screen and (max-width: 576px) {

    /* Home Container */

    .home-item h1 {
        margin-top: 40px;
    }

    .home-item .subtitle {
        font-size: 27px;
    }

    .home-item p {
        font-size: 15px;
        margin: 15px 0;
    }

    .home-item img {
        margin-top: 8px;
        height: 25px;
    }


    /* Aside Container */
    /* aside header {
        flex-direction: column;
        padding: 40px 7%;
        align-items: center;
    }

    aside header h2 {
        margin: 0;
        margin-bottom: 20px;
    }

    aside header a.button {
        margin: 0 0 15px 0;
    } */

    /* Contact Container */
    /* .contact-container {
        justify-content: center;
    }

    .contact-container .contact-item {
        width: 100%;
    }


    .contact-item img {
        margin: 20px 10px 0 10px;
    } */
}