@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
    --clr-light: #fff;
    --clr-dark: #36363c;
    --clr-primary: #14539a;
    --clr-sun: #fdd641;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);
    --primary: var(--clr-primary);
}

.darkmode {
    --clr-light: hsla(0, 0%, 90%, 1);
    --clr-dark: #36363c;
    --clr-primary: hsl(211, 100%, 63%);

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
    --primary: var(--clr-light);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    transition: all 0.25s ease-in-out;
}

main {
    width: 100%;
    min-height: 100vh;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 90px;
}
.logo-wrapper {
    height: 40px;
    width: 103px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    border-radius: 10px;
}

nav li {
    display: inline-block;
}

/* Button */

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    color: var(--background);
    background-color: var(--primary);
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: var(--background);
    color: var(--primary);
}

.button-container {
    margin-top: 25px;
}

/* Darkmode Toogle */
.darkmode-toggle {
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    transform: scale(1.1);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--background);
    position: absolute;
    top: 3px;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

.fa-moon {
    color: var(--clr-primary);
}

.fa-sun {
    color: var(--clr-sun);
}

.ball-position {
    left: 6%;
    transition: left 0.25s ease-in-out;
}

.darkmode .ball-position {
    left: 54%;
    -webkit-animation: none;
    animation: none;
}

/* Container Home's Hero */

.card {
    padding: 0px 10%;
    min-height: 100vh;
}

.home-container {
    display: flex;
    align-items: center;
}

.home-item.img {
    display: flex;
    justify-content: flex-end;
}

.home-item .subtitle {
    color: var(--clr-primary);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.home-item h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--foreground);
}

.home-item .hi-emoji {
    font-size: 40px;
}

.home-item p {
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0;
    color: var(--foreground);
}

.home-item > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 20px;
}

.home-item img {
    height: 30px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease 0s;
}

.home-item img:hover {
    opacity: 1;
}

/* Contact Container */

/* .contact-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin-bottom: 40px;
}


.contact-item img {
    margin: 15px;
    width: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.contact-item img:hover {
    transform: scale(1.2);
    opacity: 0.75;
}

.contact-item p {
    font-size: 17px;
    color: var(--clr-darkgrey);
}

.contact-item h2 {
    color: var(--clr-darkgrey);
}

#contact a {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

#contact a:hover {
    letter-spacing: 1px;
} */

/* Footer */

footer {
    background-color: #14539a;
    padding: 30px 0px;
}

footer p {
    text-align: center;
    font-size: 14px;
    color: var(--clr-light);
    letter-spacing: 0.5px;
}

/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    /* Header */
    .logo-wrapper {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    /* Home Container */

    .home-container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .home-container h1 {
        font-size: 18px;
    }

    .home-container .subtitle {
        font-size: 35px;
        letter-spacing: 0.2px;
    }

    .home-container .hi-emoji {
        font-size: 25px;
    }

    .home-container p {
        font-size: 16px;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    /* Home Container */

    .home-item h1 {
        margin-top: 40px;
    }

    .home-item .subtitle {
        font-size: 27px;
    }

    .home-item p {
        font-size: 15px;
        margin: 15px 0;
    }

    .home-item > a {
        margin-top: 8px;
        height: 25px;
        width: 25px;
    }

    .home-item img {
        height: inherit;
        width: inherit;
    }
    /* Aside Container */
    /* aside header {
        flex-direction: column;
        padding: 40px 7%;
        align-items: center;
    }

    aside header h2 {
        margin: 0;
        margin-bottom: 20px;
    }

    aside header a.button {
        margin: 0 0 15px 0;
    } */

    /* Contact Container */
    /* .contact-container {
        justify-content: center;
    }

    .contact-container .contact-item {
        width: 100%;
    }

    .contact-item img {
        margin: 20px 10px 0 10px;
    } */
}
